* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  background-color: lightblue;
}

h1,
h3,
h2,
h4 {
  margin: 0;
  padding: 0;
}
.cards {
  display: flex;
}
.card {
  display: flex;
  flex-direction: column;
  background-color: rgb(123, 159, 172);
  border-radius: 5px;
  margin: 2rem 3rem;
  overflow: hidden;
  transition: 0.3s;
    transform: scale(0.95);
}

.card:hover {
  transform: scale(1);
}

.card_img {
  max-width: 10rem;
}

.card_content {
  padding: 1rem 0 1rem 0.5rem;
}

.card_title {
  color: rgb(8, 28, 41);
}

.card_link {
  text-decoration: none;
  text-transform: lowercase;
  color: brown;
}