@tailwind base;
@tailwind components;
@tailwind utilities;

/* /////////////////// scrollbar ////////////////// */

::-webkit-scrollbar {
  width: 0.4rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #0f172a;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #dbe3f9;
  border-radius: 20px;
  height: 1px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #38bdf8;
}

/* Container */

.contain {
  @apply mx-auto px-8 lg:px-28 max-w-full overflow-hidden;
}

/* /////////////////// Header ////////////////// */

.nav_links {
  @apply flex flex-col md:flex-row md:items-center h-screen
  gap-8 text-xl w-64 md:w-auto md:h-full top-0 right-0 md:opacity-100
bg-all z-50 md:bg-transparent fixed md:static;
}

.navlink {
  @apply hover:text-sky-400  px-3 py-2 border-l-2 hover:border-l-4
  border-l-pink-400 md:px-0 md:py-0 md:border-0 md:hover:border-0;
}

.hamburger {
}

.hamburger_item {
  @apply block w-6 h-1 md:w-0 md:h-0 bg-pink-400 md:hidden;
}

.nav_shadow {
}
/* /////////////////// Hero ////////////////// */

.img_border {
  @apply border border-b-pink-400 border-t-pink-400 border-l-sky-400 border-r-sky-400;
}
/* Sections */
.sections {
  @apply flex flex-col gap-16 justify-center items-center;
}
/* All top header sections */
.top_header {
  @apply inline-block text-3xl md:text-4xl  p-2 ;
}

.before_after {
  @apply relative after:content-['.'] after:text-pink-500/20 after:left-[105%] after:bottom-[15%] after:absolute  
  before:content-['.']  before:text-pink-500/20 before:absolute before:right-[105%] before:bottom-[15%];
}

/* Skills icon hover effect */

.skills_icon {
  @apply w-14 opacity-70 hover:opacity-100;
}

/* /////////////////// works ////////////////// */

.work_item {
  @apply flex flex-col gap-8 md:flex-row md:items-center md:gap-16;
}

.work_img {
  @apply max-w-sm rounded-md overflow-hidden;
}

.work_visit_btn {
  @apply inline-block py-1 px-3 text-lg border-2 border-sky-400 rounded-md space-x-2;
}

.work_github_btn {
  @apply inline-block py-1 px-3  text-lg border-2 border-pink-400 rounded-md space-x-2;
}

/* /////////////////// Achivement ////////////////// */




/* /////////////////// Contact ////////////////// */

.contact_icons {
  @apply flex md:gap-3 py-2 px-4 md:border-2 border-sky-500 rounded-md justify-center items-center;
}

.transition_4 {
  transition: 0.4s all linear;
}
